<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'valuation/style.css' %}">
</head>
<body>
    {% if latest_portfolios_list %}
    <ul>
    {% for portfolio in latest_portfolios_list %}
        <li>
            <a href="{% url 'portfolio:detail' portfolio.id %}">
                {{portfolio.portfolio_name}}
            </a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No portfolios were created.</p>
    {% endif %}
</body>
</html>